// font

$mainFont: 'Spartan', sans-serif;

//color 

$mainColor: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filter:  hsl(180, 31%, 95%);
$darkGrayish: hsl(180, 8%, 52%);
$veryDarkGrayish: hsl(180, 14%, 20%);

//weight 

$regular: 500;
$bold: 700; 

